@import "tailwindcss";

@theme {

  --color-bgPrimary: #1C1D22;
  --color-bgSecondary: #fff;

  --color-bgInProgress: #FFA048;
  --color-bgExpired: #FF7879;
  --color-bgDone: #79D701;

  --color-textPrimary: #000;
  --color-textSecondary: #8D8E90;

  --color-borderPrimary: #1C1D22;
  --color-borderSecondary: #EDEDED;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo_2/static/Exo2-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo_2/static/Exo2-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo_2/static/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo_2/static/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo_2/static/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  font-family: "Exo 2", system-ui, sans-serif;
}